<!-- <div>
  <h1>Multiplica 2 nùmeros</h1>
  <form [formGroup]="formulario">
    <div>
      <label for="">Primer número:</label>
      <input formControlName="numero1" type="number">
    </div>
    <br>
    <div>
      <label for="">Segundo número:</label>
      <input formControlName="numero2" type="number">
    </div>
    <br>
    <button (click)="multNumeros()" type="submit"> Multiplicar </button>
 
    <h1>Resultado: {{resultado}}</h1>
  </form>
</div> -->
<h1>Distancia entre dos puntos</h1>

<form [formGroup]="formulario">
  <div>
    <label for="">x1:</label>
    <input formControlName="numero1" type="number">
  </div>
  <br>

  <div>
    <label for="">y1:</label>
    <input formControlName="numero2" type="number">
  </div>
  <br>

  <div>
    <label for="">x2:</label>
    <input formControlName="numero3" type="number">
  </div>
  <br>

  <div>
    <label for="">y2:</label>
    <input formControlName="numero4" type="number">
  </div>
  <br>

  <button type="button" class="btn btn-primary" (click)="calcular()">Calcular distancia</button>

  <h2>Resultado: {{ resultado }}</h2>
</form>
